<br>
<br>
<form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" >
  <div class="form-horizontal">
    <h4>Delete UserStories</h4>
    <hr />

    <div class="form-group">
      <label class="control-label col-md-2" for="userstoryid">UserStory Id</label>
      <div class="col-md-10">
        <label class="control-label col-md-2" for="userstoryid">{{user.userstoryid}}</label>
      </div>
    </div>

 

   <div class="form-group">
      <label class="control-label col-md-2" for="story">Stories</label>
      <div class="col-md-10">
        <label class="control-label col-md-2" for="story">{{user.story}}</label>
      </div>
    </div>


    <div class="form-group">
      <label class="control-label col-md-2" for="proid">Project Id</label>
      <div class="col-md-10">
              <label class="control-label col-md-2" for="proid">{{user.proid}}</label>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Delete" class="btn btn-default" />
      </div>
    </div>

  </div>

</form>
<div>
  <a href="/user/show">Back to List</a>
</div>