<br>
<br>

<form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" >
  <div class="form-horizontal">
    <h4>Edit Projects</h4> 
   <hr />


    <div class="form-group"> 
     <label class="control-label col-md-2" for="proid">Project Id</label> 
     <div class="col-md-10">
        <input class="form-control text-box single-line" formControlName="proid"  type="text" value="" />
        <div *ngIf="formData.controls.proid.errors && (formData.controls.proid.dirty || formData.controls.proid.touched)" class="alert-danger" >
            <div *ngIf="formData.controls.proid.errors.required">
            Id is required
           </div> 
         </div>
      </div>
    </div>

 

   <div class="form-group">
      <label class="control-label col-md-2" for="proname">Project Name</label>
      <div class="col-md-10">
        <input class="form-control text-box single-line" formControlName="proname" type="text" value="" />
        <div *ngIf="formData.controls.proname.errors && (formData.controls.proname.dirty || formData.controls.proname.touched)" class="alert-danger" >
            <div *ngIf="formData.controls.proname.errors.required">
                Name is required
            </div>
          </div>
      </div>
    </div>

    <div class="form-group"> 
     <label class="control-label col-md-2" for="clientname">Client Name</label> 
     <div class="col-md-10">  
      <input class="form-control text-box single-line" data-val="true"
            formControlName="clientname" name="Contactno" type="text" value="" /> 
       <div *ngIf="formData.controls.clientname.errors && (formData.controls.clientname.dirty || formData.controls.clientname.touched)" class="alert-danger" >
            <div *ngIf="formData.controls.clientname.errors.required">
              Client Name is required
            </div>
          </div>
      </div>
    </div>

   

 <div class="form-group"> 
     <label class="control-label col-md-2" for="startdate">Start Date</label>   
   <div class="col-md-10"> 
       <input class="form-control text-box single-line" formControlName="startdate" type="text" value="" />
        <div *ngIf="formData.controls.startdate.errors && (formData.controls.startdate.dirty || formData.controls.startdate.touched)" class="alert-danger" >
            <div *ngIf="formData.controls.startdate.errors.required">
              Date is required 
           </div>            
          </div>     
      </div> 
   </div>

  

  <div class="form-group">   
   <label class="control-label col-md-2" for="enddate">End Date</label> 
     <div class="col-md-10"> 
       <input class="form-control text-box single-line" formControlName="enddate" type="text" value="" />
        <div *ngIf="formData.controls.enddate.errors && (formData.controls.enddate.dirty || formData.controls.enddate.touched)" class="alert-danger" >
            <div *ngIf="formData.controls.enddate.errors.required">
              Date is required
            </div>
          </div>
      </div>
    </div>

  

  <div class="form-group">
      <div class="col-md-offset-2 col-md-10">  
      <input type="submit" value="Edit" class="btn btn-default" [disabled]="!formData.value" />
      </div>
   </div>

  </div>
</form>

<div>
  <a href="/project/show">Back to List</a>
</div>