<h1>UserStory List</h1>
<br>
<p>
    <a href="/user/create">Create</a>
    </p>
<table class="table">
    <tr>
        <th>UserStory Id</th>
        <th>Story</th>
        <th>Project Id</th>
        <th>Actions</th>

    </tr>
   
    <tr *ngFor="let emp of users">
    
       <td>{{emp.userstoryid}}</td>
       <td>{{emp.story}}</td>
       <td>{{emp.proid}}</td>
       <td>

        <a href="/user/edit/{{emp.userstoryid}}">Edit/</a>

        <a href="/user/delete/{{emp.userstoryid}}">Delete</a>

      </td>


    </tr>
</table>
<br>
